In [1]:
print("hello world")

hello world

# 本金攤還計算方式

In [12]:
amount=100000
years=5
rate=2

In [13]:
# 固定本金
period=years*12
month_pay=int(amount/period)

In [14]:
# 第一個月利息
month_rate=rate/100/12
month_rate

0.0016666666666666668

### 每個月還款利息

In [19]:
total_amount=100000
amount=total_amount
years=5
rate=2
period=years*12
month_pay=int(amount/period)
month_rate=rate/100/12

data=[]
totalInterest=0
for i in range(period):
    interest=round(amount*month_rate)
    amount-=month_pay
    if i == period-1:
        data.append([i+1,month_pay+amount,interest,month_pay+interest,0])
    else:
        data.append([i+1,month_pay,interest,month_pay+interest,amount])
    total_interest+=interest
totalInterest
data

[[1, 1666, 167, 1833, 98334],
 [2, 1666, 164, 1830, 96668],
 [3, 1666, 161, 1827, 95002],
 [4, 1666, 158, 1824, 93336],
 [5, 1666, 156, 1822, 91670],
 [6, 1666, 153, 1819, 90004],
 [7, 1666, 150, 1816, 88338],
 [8, 1666, 147, 1813, 86672],
 [9, 1666, 144, 1810, 85006],
 [10, 1666, 142, 1808, 83340],
 [11, 1666, 139, 1805, 81674],
 [12, 1666, 136, 1802, 80008],
 [13, 1666, 133, 1799, 78342],
 [14, 1666, 131, 1797, 76676],
 [15, 1666, 128, 1794, 75010],
 [16, 1666, 125, 1791, 73344],
 [17, 1666, 122, 1788, 71678],
 [18, 1666, 119, 1785, 70012],
 [19, 1666, 117, 1783, 68346],
 [20, 1666, 114, 1780, 66680],
 [21, 1666, 111, 1777, 65014],
 [22, 1666, 108, 1774, 63348],
 [23, 1666, 106, 1772, 61682],
 [24, 1666, 103, 1769, 60016],
 [25, 1666, 100, 1766, 58350],
 [26, 1666, 97, 1763, 56684],
 [27, 1666, 94, 1760, 55018],
 [28, 1666, 92, 1758, 53352],
 [29, 1666, 89, 1755, 51686],
 [30, 1666, 86, 1752, 50020],
 [31, 1666, 83, 1749, 48354],
 [32, 1666, 81, 1747, 46688],
 [33, 1666, 78, 1744, 45022],
 [34, 1666, 75, 1741, 43356],
 [35, 1666, 72, 1738, 41690],
 [36, 1666, 69, 1735, 40024],
 [37, 1666, 67, 1733, 38358],
 [38, 1666, 64, 1730, 36692],
 [39, 1666, 61, 1727, 35026],
 [40, 1666, 58, 1724, 33360],
 [41, 1666, 56, 1722, 31694],
 [42, 1666, 53, 1719, 30028],
 [43, 1666, 50, 1716, 28362],
 [44, 1666, 47, 1713, 26696],
 [45, 1666, 44, 1710, 25030],
 [46, 1666, 42, 1708, 23364],
 [47, 1666, 39, 1705, 21698],
 [48, 1666, 36, 1702, 20032],
 [49, 1666, 33, 1699, 18366],
 [50, 1666, 31, 1697, 16700],
 [51, 1666, 28, 1694, 15034],
 [52, 1666, 25, 1691, 13368],
 [53, 1666, 22, 1688, 11702],
 [54, 1666, 20, 1686, 10036],
 [55, 1666, 17, 1683, 8370],
 [56, 1666, 14, 1680, 6704],
 [57, 1666, 11, 1677, 5038],
 [58, 1666, 8, 1674, 3372],
 [59, 1666, 6, 1672, 1706],
 [60, 1706, 3, 1669, 0]]